{% extends "base.html" %}
{% block title %}Ana Sayfa{% endblock %}
{% block content %}
<div class="main-content">
    <div class="ads">
        <img src="/static/images/reklam_afis.png" alt="Bilgilendirme Afişi" class="ads-image">
    </div>
    
    <div class="content">
        <div class="banner">
            <img src="/static/images/afis.png" alt="Afiş">
        </div>

    </div>
    <div class="ads">
        <img src="/static/images/sag_reklam_afis.png" alt="Sağ Reklam Afişi" class="ads-image">
      </div>
</div>
{% endblock %}